* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(46, 0, 48, 0.9);
    color: #f1e9da;
}

a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

a:hover,
#cv:hover {
    color: #0267c1;
}

#cv {
    cursor: pointer;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 150px 2fr 2fr;
    grid-template-rows: repeat(2, 0.75fr) 3fr;
}

/*__BANNER__*/

.pic {
    margin: 15px 0 0 15px;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
}

.self {
    object-fit: cover;
}

.self img {
    border: 5px solid #f1e9da;
    height: 150px;
    border-radius: 20px;
}

.name {
    margin: 15px 0 0 0;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(270deg, rgb(46, 0, 48), transparent);
    border-radius: 30px;
}

.name-text {
    padding-top: 2%;
    font-size: 2rem;
    font-weight: bold;
    color: #00bd9d;
    text-align: center;
}
.contact-me {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 2% 2% 2%;
}

/*__WELCOME MESSAGE__*/

.welcome {
    margin: 15px 0 0 15px;
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.welcome-text {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.choice {
    height: 100%;
    width: 1fr;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lang,
.theme {
    height: 100%;
    width: 1fr;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

button {
    font-family: inherit;
    font-size: 1rem;
    padding: 5px;
    background-color: #2e0030;
    border: 2px solid #f1e9da;
    border-radius: 20px;
}

#theme {
    background-color: #f1e9da;
    color: #2e0030;
}

#theme:hover,
#theme:focus {
    background-color: #0267c1;
}

button:hover {
    background-color: #0267c1;
}

#lang {
    margin: 0 15px;
}

/*__INFO BOX__*/

.about-me-header,
.projects-header,
.posts-header {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    padding-top: 1%;
}

.about-me {
    margin: 15px 15px 0 15px;
    grid-area: 1 / 3 / 3 / 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 1%;
    background-color: #2e0030;
    border-radius: 30px;
    font-size: 1rem;
    overflow-y: auto;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 2%;
}

/*__PROJECTS__*/
.project-container {
    margin: 15px 0 15px 15px;
    grid-area: 3 / 1 / 6 / 3;
    background-color: #2e0030;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.under-construction {
    text-align: center;
    padding: 2%;
}

em {
    color: #f1e9da;
    font-size: 0.75rem;
}

.projects {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.slick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.slick-prev:before,
.slick-next:before {
    color: #00bd9d;
}

.project {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.project a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project a:hover {
    background-color: rgba(0, 189, 157, 0.15);
    border-radius: 30px;
}

.image-box {
    display: flex;
    align-items: flex-start;
    width: 48%;
    margin-right: 1%;
}

.project-image {
    width: 30vh;
    height: 30vh;
    border: 5px solid #f1e9da;
    border-radius: 20px;
    padding: 1%;
}

.project-info {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.project-name {
    font-size: 1.5rem;
    padding-top: 1%;
}

.project-description {
    padding: 0 20px 0 10px;
}

/* __BLOG POSTS__*/

.blog-posts {
    margin: 15px;
    grid-area: 3 / 3 / 6 / 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #2e0030;
    border-radius: 30px;
    overflow-y: auto;
}

.recent-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2%;
}

span {
    color: #0267c1;
    font-size: 2rem;
    font-style: italic;
}

/*__MODAL__*/

.modal-container {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(241, 233, 218, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.vis {
    visibility: visible;
    z-index: +1;
}

.cv-modal {
    display: flex;
    flex-direction: column;
    background-color: #2e0030;
    height: 90vh;
    width: 80%;
    border-radius: 20px;
    align-items: center;
    justify-content: left;
    padding: 20px;
    font-size: 2rem;
}

#modal-x {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    text-align: right;
    width: 100%;
}

#X {
    color: #00bd9d;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    padding-right: 10px;
}

#X:hover {
    color: #0267c1;
}

.modal-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-text {
    width: 100%;
    overflow-y: scroll;
}

.modal-text a {
    font-size: 1rem;
    padding: 0;
}

.cv-text {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.5rem;
    text-align: center;
    color: #0267c1;
    padding: 5px 0 0 0;
}

li {
    margin: 1% 0 1% 2%;
}

h5 {
    font-size: 1.25rem;
    color: #00bd9d;
    margin: 2% 0 1% 0;
}

.print h4 {
    margin-top: 2%;
}

.print a {
    font-size: 1.25rem;
}

.print a:hover {
    color: #0267c1;
}

@media screen and (max-width: 415px) {
    body {
        height: auto;
    }

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .self img {
        height: 75px;
        border-width: 2px;
    }

    .name {
        background-color: #2e0030;
        width: 100%;
    }

    .contact-me {
        font-size: 0.5rem;
        padding-top: 2%;
    }

    .welcome {
        margin: 2% 0;
        width: 100%;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
        width: 100%;
        height: auto;
        min-height: 150px;
    }

    .about-me-header {
        padding-top: 12px;
    }

    .about-me-text {
        display: block;
    }

    .blog-posts {
        margin: 2% 0;
        width: 100%;
        height: auto;
        min-height: 60px;
    }

    span {
        font-size: 0.9rem;
    }

    .project-container {
        margin: 0;
        width: 100%;
        height: auto;
    }

    .name-text {
        font-size: 1.5rem;
    }

    .welcome-text,
    .projects-header,
    .posts-header,
    .about-me-header {
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
    }

    button {
        font-size: 0.75rem;
        padding: 2px;
    }

    .about-me,
    .project-name {
        font-size: 0.9rem;
        border-width: 2px;
    }

    .project-name {
        padding-bottom: 5px;
    }

    em {
        font-size: 0.5rem;
    }

    .project-container {
        padding-bottom: 5px;
    }

    .project-image {
        border-width: 2px;
        height: 60px;
        width: 60px;
    }

    .projects-header {
        font-size: 0.9rem;
    }

    .project-info {
        font-size: 0.6rem;
        max-height: 150px;
        overflow-y: auto;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 15px;
        font-weight: bold;
    }

    #X {
        font-size: 1rem;
        padding: 0 5px 5px 0;
    }

    li,
    .cv-text,
    .print a {
        font-size: 0.8rem;
    }

    h4 {
        font-size: 1rem;
        padding-bottom: 2%;
    }

    h5 {
        padding-top: 1%;
        font-size: 0.9rem;
    }
}
